@import url(./reset.css);




/* CONTAINER */




.container {

 width: min(100% - 30px, 1080px);

 margin-inline: auto;

}




/* HEADER */




header {

 background-color: #1f2229;

}




.flex {

 display: flex;

 justify-content: space-between;

 align-items: center;

 gap: 10px;

}




.head-1 h1,

.head-1 img {

 font-size: 25px;

 color: #0d5c7f;

 font-weight: 600;

 line-height: 49px;

 cursor: pointer;

 letter-spacing: 0.6px;

}




.ticket-img {

 width: 30px;

 height: 30px;

}




nav ul li {

 display: inline;

 float: left;

}




nav ul li a {

 flex: 1;

 display: block;

 padding: 13px 16px;

 text-align: center;

 color: #f0f1ff;

 font-size: 15px;

 letter-spacing: 0.6px;

 text-decoration: none;

 transition: all 0.5s ease-out;

}




nav ul li a:hover,

a:focus,

a:active {

 background-color: #0d5c7f;

}




.icon-1 {

 margin: auto 0;

 cursor: pointer;

}




.icon-1 img {

 height: 40px;

 width: 40px;

 border-radius: 50%;

 float: left;

 margin-right: 10px;

}




/* HEADER ENDS */




/* MAIN */




#movie-list {

 margin-top: 20px;

 align-items: flex-start;



}




input[type="text"] {

 border: 1px solid #0d5c7f;

 border-radius: 5px;

 padding: 10px 0px 10px 50px;

 font-size: 14px;

 /* width: 650px; */

 width: 100%;

 font-weight: 40;

 color: #f0f1ff;

 background-size: 15px;

 background: transparent;

 transition: all 0.5s ease-in-out;

 display: inline;

}




.searchM {

 background: url(../media/images/search.png) no-repeat 15px 42%;

 flex-grow: 2;

}




ul {

 transition: all 1s ease-in-out;

}




.completion-M li,

.completion-C li {

 width: 100%;

 background-color: #1f2229;

 border-radius: 0 0 5px 5px;

 cursor: pointer;

 border: 1px solid #f0f1ff;

 padding: 10px 5px;

}




.completion-M li:hover,

.completion-C li:hover {

 color: #0d5c7f;

 background-color: #14161d;

}




.location input[type="text"] {

 /* width: 200px; */

 background: url(../media/images/marker.png) no-repeat 15px 42%;

}




.btn-1 {

 padding: 10px 35px;

 background-color: #0d5c7f;

 color: #fff;

 border-radius: 5px;

 font-size: 15px;

 cursor: pointer;

}




.grid-container {

 margin-top: 50px;

 display: grid;

 grid-template-columns: repeat(5, 1fr);

 grid-gap: 60px 20px;

}




.grid-item {

 text-align: center;

 height: 330px;

}




.grid-item img {

 border-radius: 5px;

 cursor: pointer;

}




.grid-item p {

 color: #fff;

 margin-top: 5px;

 font-size: 16px;

}




.grid-item:hover {

 animation: pop 0.60s linear 0.4;

}




@keyframes pop {

 50% {

  transform: scale(1.1);

 }

}




/* MAIN ENDS */